@media screen and (max-width:1024px) {

    #mens-collection .container .row .coluna1 article #img-tablet {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-S {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-M {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-L {
        display: none;
    }

    #mens-collection .container .row .coluna1 article h1 {
        font-size: 4rem;
    }

    #mens-collection .container .row .coluna1 article h2 {
        font-size: 2.5rem;
    }

    #mens-collection .container .row .coluna1 article a {
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    #mens-collection .container .row .coluna1 article p {
        font-weight: bolder;
    }
    
    #mens-collection .container .row .coluna2 img {
        width: 100%;
        height: 100%;
    }
    
    #FPS .container .row .coluna .item2 {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #FPS .container .row .coluna .item2 p {
        height: 5rem;
    }

    #FPS .container .row .coluna .item2 a {
        height: 2rem;
        display: flex;
        align-items: center;
    }
    
    #Featured .container .row #title .line {
        width: 70%;
    }
    
    
    #customer-top-picks .container .row #title .line {
        width: 50%;
    }
    
    #customer-top-picks .container .row .card {
        height: 28rem;
        width: 28rem;
    }

    #customer-top-picks .container .row .card .card-top .coluna1{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #customer-top-picks .container .row .card .card-top .coluna2{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #customer-top-picks .container .row .card .card-top .img-item {
        width: 9.5rem;
        height: 18rem;
    }
    
    #customer-top-picks .container .row .card .card-top .stars {
        width: 12rem;
        height: 3rem;
    }
    
    #customer-top-picks .container .row .card .card-top h5 {
        width: 12rem;
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        align-items: center;
    }
    
    #customer-top-picks .container .row .card .card-top p {
        font-size: 1rem;
    }
    
    #customer-top-picks .container .row .card .card-top .card-body .text1{
        height: 10rem;
        width: 12rem;
    }
    
    #customer-top-picks .container .row .card .card-top .card-body .text2{
        height: 2rem;
        width: 12rem;
    }
    
    #customer-top-picks .container .row .card .card-down a {
        font-size: 1.3rem;
    }
    
    #cadastro-email #title .line {
        width: 60%;
    }
    
    footer .container #row-top .col-6 .row .col-4 h5 {
        font-size: 0.7rem;
    }
    
    footer .container #row-top .col-6 .row .col-4 a {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:990px){

    #mens-collection .container .row .coluna1 article { 
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #mens-collection .container .row .coluna1 article #img-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-S {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-M {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-L {
        display: none;
    }

    #mens-collection .container .row .coluna1 article h1 {
        font-size: 3.5rem;
        font-weight: bold;
    }

    #mens-collection .container .row .coluna1 article h2 {
        font-size: 2rem;
    }

    #mens-collection .container .row .coluna1 article a {
        width: 50%;
    }

    #mens-collection .container .row .coluna2 img {
        display: none;
    }

    #FPS {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #FPS .container .row .coluna {
        justify-content: start;
    }
    
    #FPS .container .row .coluna .item2 {
        height: 6.5rem;
    }

    #Featured .container .row #title .line {
        width: 50%;
    }

    #customer-top-picks {
        height: auto;
        align-items: center;
        justify-content: center;
    }
    
    #customer-top-picks .container .row #title .line {
        width: 30%;
    }
    
    #customer-top-picks .container .row .card{
        width: auto;
        margin-bottom: 2rem;
    }
    
    #customer-top-picks .container .row .card .card-top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #customer-top-picks .container .row .card .card-top .stars {
        width: 15rem;
    }
    
    #customer-top-picks .container .row .card .card-top h5 {
        width: auto;
    }
    
    #customer-top-picks .container .row .card .card-top .card-body .text1{
        width: 100%;
    }
    
    #customer-top-picks .container .row .card .card-top .card-body .text2{
        width: 100%;
    }

    footer {
        height: auto;
        padding: 2rem;
    }

    footer .container #row-top .col-lg-6 h3 {
        margin-top: 1rem;
    }

    #cadastro-email {
        height: auto;
        padding: 1rem 0rem;
    }

    #cadastro-email .container .row .col-lg-12 #title .line {
        width: 40%;
    }

    #cadastro-email .container .row .col-lg-12  #title h3 {
        margin: 1rem;
    }

    #cadastro-email .container .row .col-lg-12 form {
        width: 60%;
    }
}

@media screen and (max-width:425px) {

    #mens-collection .container .row .coluna1 article #img-tablet {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-S {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-M {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-L {
        display: flex;
    }

    #mens-collection .container .row .coluna1 article a {
        font-size: 1rem;
    }

    #Featured {
        height: auto;
    }

    #Featured .container .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #Featured .container .row #title .line {
        width: 20%;
    }
    
    #Featured .container .row #title h3 {
        font-size: 1.2rem;
    }
    
    #Featured .coluna img {
        width: 25rem;
        margin: 0.5rem 0rem;
    }
    
    #customer-top-picks .container .row #title .line {
        width: 20%;
    }

    #customer-top-picks .container .row #title h3 {
        font-size: 0.9rem;
    }

    #customer-top-picks .container .row .card .card-top .coluna1 img{
        width: 10rem;
        height: 14rem;
    }
    
    #customer-top-picks .container .row .card .card-top .stars {
        width: 10rem;
    }
    
    #customer-top-picks .container .row .card .card-top h5 {
        width: auto;
    }

    #customer-top-picks .container .row .card .card-top .card-body {
        display: flex;
        height: 20rem;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #customer-top-picks .container .row .card .card-top .card-body .text1{
        font-size: 0.9rem;
    }
    
    #customer-top-picks .container .row .card .card-top .card-body .text2{
        font-size: 0.9rem;
    }

    #customer-top-picks .container .row .card .card-down a {
        width: 100%;
        height: 3rem;
        font-size: 1rem;
    }

    #cadastro-email .container .row .col-lg-12 #title .line {
        width: 26%;
    }

    #cadastro-email .container .row .col-lg-12  #title h3 {
        font-size: 1rem;
        font-weight: bold;
    }
}

@media screen and (max-width:375px) {

    #mens-collection .container .row .coluna1 article #img-mobile-L {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-S {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-M {
        display: flex;
    }

    #mens-collection .container .row .coluna1 article h2 {
        font-size: 1.6rem;
    }

    #mens-collection .container .row .coluna1 article a {
        height: 2.5rem;
    }

    #mens-collection .container .row .coluna1 article p {
        font-size: 0.7rem;
    }

    #Featured .container .row #title .line {
        width: 17%;
    }

    #Featured .coluna img {
        width: 22rem;
    }

    #customer-top-picks .container .row #title .line {
        width: 14%;
    }
    
    #customer-top-picks .container .row .card .card-top .stars {
        width: 9rem;
    }

    #customer-top-picks .container .row .card {
        padding: 1rem;
    }

    #customer-top-picks .container .row .card .card-top .card-body .card-title {
        width: auto;
        font-size: 0.9rem;
    }

    #customer-top-picks .container .row .card .card-top .card-body .text1{
        font-size: 0.9rem;
    }

    #cadastro-email .container .row .col-lg-12 #title .line {
        width: 16%;
    }

    footer .container #row-top .col-lg-6 h3 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:320px) {

    #mens-collection .container .row .coluna1 article #img-mobile-M {
        display: none;
    }

    #mens-collection .container .row .coluna1 article #img-mobile-S {
        display: flex;
    }

    #mens-collection .container .row .coluna1 article h1 {
        font-size: 3rem;
    }

    #mens-collection .container .row .coluna1 article h2 {
        font-size: 1.4rem;
    }

    #mens-collection .container .row .coluna1 article a {
        font-size: 0.8rem;
    }
    
    #Featured .container .row #title .line {
        width: 8%;
    }
    
    #Featured .coluna img {
        width: 18rem;
    }

    #customer-top-picks .container .row .card {
        padding: 0.5rem;
    }

    #customer-top-picks .container .row .card .card-top .card-body .card-title {
        width: 8rem;
        margin: 0.5rem;
        font-size: 0.8rem;
    }

    #customer-top-picks .container .row .card .card-top .coluna1 {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }

    #customer-top-picks .container .row .card .card-top .coluna1 img {
        width: 7.5rem;
        height: 20rem;
        padding: 0;
    }

    #customer-top-picks .container .row .card .card-top .stars {
        width: 8rem;
        margin: 0.5rem;
    }

    #customer-top-picks .container .row .card .card-top .card-body .text1 {
        width: 8rem;
        margin: 0.5rem;
        font-size: 0.8rem;
    }

    #customer-top-picks .container .row .card .card-top .card-body .text2 {
        width: 8rem;
        margin: 0.5rem;
        font-size: 0.8rem;
    }

    #cadastro-email .container .row .col-lg-12 #title .line {
        width: 5%;
    }

    footer .container #row-top .col-lg-6 h3 {
        font-size: 0.8rem;
    }
}