* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --dark: #000;
    --white: #F7F7F6;
    --brown: #5D3F3D;
    --light-dark:#202020;
}

.navbar {
    background: var(--dark);
}

#mens-collection {
    height: 36rem;
    background: var(--white);
}

#mens-collection .container .row .coluna1 article h1 {
    color: var(--dark);
    font-size: 4.5rem;
}

#mens-collection .container .row .coluna1 article h3 {
    color: var(--dark);
    font-size: 3rem;
}

#mens-collection .container .row .coluna1 article a {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    border-radius: 0;
    color: var(--white);
    background: var(--dark);
}

#mens-collection .container .row .coluna1 article a:hover {
    background: var(--light-dark);
}

#mens-collection .container .row .coluna1 article p {
    font-size: 0.8rem;
    color: var(--dark);
    margin-top: 1.5rem;
}

#FPS {
    height: 14rem;
    display: flex;
    align-items: center;
    background: var(--brown);
}

#FPS .container .row .coluna {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#FPS .container .row .coluna .item1 {
    margin: 1rem;
}

#FPS .container .row .coluna .item2 {
    height: 6rem;
}

#FPS .container .row .coluna .item2 h4, p, a{
    color: var(--white);
    margin: 0.1rem;
}

#FPS .container .row .coluna .item2 h4 {
    font-size: 1.2rem;
}

#FPS .container .row .coluna .item2 p, a {
    font-size: 0.9rem;
}

#FPS .container .row .coluna .item2 p, a:hover{
    color: var(--white);
}

#Featured {
    display: flex;
    height: 20.2rem;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black;*/
}

#Featured .container .row #title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Featured .container .row #title .line {
    width: 90%;
    height: 1px;
    border: 1px solid var(--dark);
}

#Featured .container .row #title h3 {
    width: 50%;
    font-weight: 500;
    margin: 1rem 3rem;
    color: var(--dark);
}

#Featured .coluna img {
    width: 100%;
    /*border: 1px solid black;*/
}

#customer-top-picks {
    width: 100%;
    height: 42rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--brown);
}

#customer-top-picks .container .row #title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#customer-top-picks .container .row #title .line {
    width: 60%;
    height: 1px;
    border: 1px solid var(--white);
}

#customer-top-picks .container .row #title h3 {
    width: 70%;
    display: flex;
    font-weight: 500;
    margin: 1rem 3rem;
    color: var(--white);
    justify-content: center;
}

#customer-top-picks .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#customer-top-picks .container .row .card{
    display: flex;
    height: 30rem;
    width: 32.5rem;
    margin: 0 0.5rem;
    padding: 1rem 2rem;
    justify-content: space-evenly;
}

#customer-top-picks .container .row .card .card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

#customer-top-picks .container .row .card .card-top .img-item {
    width: 12rem;
    height: 20rem;
    border: 1px solid black;
}

#customer-top-picks .container .row .card .card-top .stars {
    width: 15rem;
    height: 3rem;
    border: 1px solid black;
}

#customer-top-picks .container .row .card .card-top h5 {
    width: 15rem;
    height: 3rem;
    color: var(--dark);
    border: 1px solid black;
}

#customer-top-picks .container .row .card .card-top p {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    color: var(--dark);
}

#customer-top-picks .container .row .card .card-top .card-body .text1{
    height: 10rem;
    border: 1px solid black;
}

#customer-top-picks .container .row .card .card-top .card-body .text2{
    height: 2rem;
    border: 1px solid black;
}

#customer-top-picks .container .row .card .card-down {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#customer-top-picks .container .row .card .card-down a {
    width: 70%;
    height: 4rem;
    display: flex;
    font-size: 1.5rem;
    color: var(--white);
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background: var(--dark);
}

#customer-top-picks .container .row .card .card-down a:hover{
    background: rgb(20, 20, 20);
}

footer {
    display: flex;
    height: 28.8rem;
    align-items: center;
    background: var(--dark);
    justify-content: center;
}

footer .container #row-top .col-6 h3 {
    display: flex;
    color: var(--white);
    margin-bottom: 2rem;
    align-items: center;
}

footer .container #row-top .col-6 h3 a {
    text-decoration: none;
    margin: 0rem 0.4rem;
}

footer .container #row-top .col-6 .row .col-4 {
    display: flex;
    flex-direction: column;
}

footer .container #row-top .col-6 .row .col-4 a, p, h5 {
    color: var(--white);
    text-decoration: none;
}

footer .container #row-top .col-6 .row .col-4 h5 {
    font-size: 0.8rem;
}

footer .container #row-top .col-6 .row .col-4 a {
    font-size: 0.8rem;
    margin: 0.6rem 0;
}

footer .container #row-top .col-6 .row .col-4 p {
    font-size: 0.8rem;
    margin: 0.4rem 0;
}

footer .container #row-down {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container #row-down .line {
    margin: 4rem 0rem;
    border: 1px solid var(--white);
}

footer .container #row-down .col-6{
    display: flex;
    align-items: center;
}

footer .container #row-down #col-end{
    display: flex;
    justify-content: flex-end;
}

footer .container #row-down #col-end a {
    text-decoration: none;
}

#cadastro-email {
    display: flex;
    height: 15rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#cadastro-email #title {
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro-email #title .line {
    width: 70%;
    height: 1px;
    border: 1px solid var(--dark);
}

#cadastro-email #title h3 {
    width: 100%;
    display: flex;
    font-weight: 500;
    margin: 1rem 3rem;
    color: var(--dark);
    justify-content: center;
}

#cadastro-email form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cadastro-email form button {
    border: none;
    color: var(--white);
    background: var(--dark);
    margin-top: 1rem;
    height: 2rem;
}